body {
  background-color: #0a303d;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #333;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  color: rgb(252, 255, 60);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerChild {
  max-width: 300px;
  width: 100%;
}

.calculator {
  border-radius: 1rem;
  background-color: rgb(125, 122, 104);
}

.calculator .display {
  background-color: #353232;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  text-align: right;
  color: #fff;
}

.display .calcDisplay {
  width: 95%;
  height: 30px;
  border: 0px;
  background-color: #160f0f;
  padding: 0.6rem;
  border-radius: 0.5rem;
}

.calcDisplay output {
  display: block;
  width: 100%;
}

.calculator .calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  height: 100%;
  padding: 1rem;
}

.calc-buttons button {
  border: 0;
  background-color: #3b0707;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 20px;
  padding: 0.5rem;
  cursor: pointer;
  border: transparent;
  box-shadow: #160f0f 0px 0px 0px 2px inset;
}

button:hover {
  background-color: rgb(118, 96, 244);
}
a {
  color: rgb(252, 255, 60);
}
a:link {
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(252, 255, 60);
}
